<section>
    <div class="row">
        <div class="container">
            <div class="cl-md-12 text-center">
                <h2 class="text-center">Order Placed Successfully</h2>
                <a href="/orders" class="btn btn-primary">View Orders</a>
            </div>
        </div>
    </div>
</section>