<section>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-center">Delivery Details</h2>
                <form action="" method="POST" id="checkout-form" enctype="multipart/form-data">
                    <label for="">Name</label>
                    <input type="text" name="Name" class="form-control">

                    <label for="">Address</label>
                    <input type="text" name="Category" class="form-control">

                    <label for="">Mobile</label>
                    <input type="text" name="Description" class="form-control">
                    <input type="text" name="userId" id="" value="{{user._id}}" hidden>

                    <hr>
                    <h2>Total price;Rs.{{total}}</h2>

                    <div class="payment">
                        <p>Payment Method</p>
                        <label class='radio-inline'>
                            <input type="radio" class="radios" name="payment-method" value="COD" checked>COD</label>
                        <label class='radio-inline'>
                            <input type="radio" class="radios" name="payment-method" value="ONLINE">Online
                            Payment</label>

                    </div>
                    <hr>
                    <a type="submit" class="btn btn-success mt-4" href="/order-success">Submit</a>
                    
                </form>
            </div>
        </div>
    </div>
</section>


<script>
    $("#checkout-form").submit((e) => {
        e.preventDefault();
        $.ajax({
            url: '/place-order',
            method: 'post',
            data: $(#'#checkout-form').serialize(),
            success: (response) => {
                alert(response)
                if (response.codSuccess) {
                    location.href = '/order-succes'
                } else {
                    razorpaPayment(response)
                }
            }
        })

    })
    function razorpaPayment(order) {
        var options = {
            "key": "rzp_test_ro5OYE0EgUPYtg", // Enter the Key ID generated from the Dashboard
            "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            "currency": "INR",
            "name": "Jayakrishnan V R",
            "description": "Test Transaction",
            "image": "https://example.com/your_logo",
            "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            "handler": function (response) {
                
                verifyPayment(response,order)
            },
            "prefill": {
                "name": "Gaurav Kumar",
                "email": "gaurav.kumar@example.com",
                "contact": "9999999999"
            },
            "notes": {
                "address": "Razorpay Corporate Office"
            },
            "theme": {
                "color": "#3399cc"
            }
        };
        var rzpl = new Razorpay(options);
        rzp1.open();
    }
    function verifyPayment(payment,order){
        $.ajax({
            url:'/verify-payment',
            data:{
                payment,
                order
            }
            method:'post',
            succes:(response)=>{
                if(response.status){
                    location.href = '/order-success'
                }
                else{
                    alert("Payment failed")
                }
            }
        })
    }
</script>
<style>

</style> 